@page "/about"

<div style="width: 40%; margin: 0 auto;">
    <h2 style="justify-content: center; margin: auto; display: flex;">About</h2>
    <br />
    <br />
    <h4>Impressum</h4>
    Simon Lauser <br />
    Falkenweg 7 <br />
    75446 Wiernsheim <br />
    <br />
    simon(ät)lauser.dev
    <br />
    <br />
    <h4>Datenschutz</h4>
    <p style="text-align: justify; hyphens: auto;">
    Ich sammle keinerlei Daten. Diese Seite benutzt jedoch Ressourcen von Drittanbietern welche Tracking auslösen können.
    </p>
    <p style="text-align: justify; hyphens: auto;">
    Die Seite ist auf Github Pages gehostet und ich habe keinen Einfluss welche Daten von Github gesammelt werden,
    bitte beachten Sie dazu die entsprechenden Informationen auf github.com.
    Github sammelt personenbezogene Informationen von Besuchern, u.a. die IP, um gesetzliche Bestimmungen zu erfüllen und die Sicherheit und Integrität der Website und der Dienstleistung zu erfüllen.
    </p>
    <h4>Haftungshinweis</h4>
    <p style="text-align: justify; hyphens: auto;">
    Ich übernehme keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
    </p>
</div>
