#simulationCanvas {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.centered-div {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#explanation {
    width: 50%;
    margin: 20px auto;
}

.container {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.label {
    white-space: nowrap; /* Prevents the labels from wrapping */
}

.warning-box {
    padding: 10px;
    background-color: #ffcc00; /* Light yellow background */
    color: #333; /* Dark text color for contrast */
    border-left: 6px solid #ff9900; /* Darker yellow border on the left */
    margin: 10px 0; /* Adds some space around the box */
}
