@page "/simulation"
@inject IJSRuntime JSRuntime

<PageTitle>Counter</PageTitle>

<h3>Simulation</h3>

<div class="stack-vertical">
    <div>Text above canvas</div>
    <div id="simulationCanvas">
        <BECanvas @ref="_canvasReference" Width="800" Height="800"></BECanvas>
    </div>
    <div>Text below canvas</div>
</div>
