@page "/"
@using EvolutionSim.Components
@inject IJSRuntime JSRuntime
@using static Simulation.Parameters

<PageTitle>Simulation</PageTitle>

<div class="centered-div">
    <h3>Simulation</h3>
</div>

<div id="explanation" class="centered-div">
This page showcases a C# Blazor WASM implementation of an evolutionary simulation where artificial arrow-like birds learn to survive by finding food in a dynamic environment.
Through neural networks and genetic algorithms, these digital entities evolve over time, exhibiting increasingly complex behaviors.
This simulation demonstrates the principles of artificial intelligence and evolution in an interactive format, highlighting the adaptability and learning capabilities of artificial life in a virtual ecosystem.
It is designed after the awesome tutorial series 
</div>
<div class="centered-div" style="margin: auto auto 10px 10px">
    <a href="https://pwy.io/posts/learning-to-fly-pt1/">Learning to Fly: Let's simulate evolution in Rust! </a>.
</div>

<div id="simulationCanvas">
   <canvas id="theCanvas"></canvas>
</div>

<div class="container" style="width: 100%">
    <ProgressBar Label="Development of current generation:" Progress="_progress" />
</div>

<div class="container">
    <FluentTabs Orientation="Microsoft.FluentUI.AspNetCore.Components.Orientation.Horizontal" Style="width: 100%; flex-grow: 1; margin: 0 auto;">

        <FluentTab Label="General" Id="tab-v1" Style="flex-grow: 1; margin: 0 auto;">
            <FluentGrid>

                <FluentGridItem xs="12" sm="6">
                    <ButtonCard Title="Train Animals" ButtonLabel="Train" OnClick="Train" Content="Training is used to fast-forward a whole generation.">
                        <div class="warning-box">
                            <b>Warning:</b> The training of a whole generation might take some time!
                        </div>
                    </ButtonCard>       
                </FluentGridItem>

                <FluentGridItem xs="12" sm="6">
                    <ButtonCard Title="Restart" ButtonLabel="Restart" OnClick="Restart" Content="Deletes all animals and restarts the simulation." />
                </FluentGridItem>

            </FluentGrid>
        </FluentTab>

        <FluentTab Label="Parameters" Id="tab-v2" Style="flex-grow: 1; margin: 0 auto;">
            <FluentGrid>

                <FluentGridItem xs="12" sm="6">
                    <ParameterCardInt Title="Number of Birds" Content="The number of birds in the world." @bind-Value=Simulation.Parameters.NumberOfBirds />
                </FluentGridItem>

                <FluentGridItem xs="12" sm="6">
                    <ParameterCardInt Title="Number of Foods" Content="The amount of available food for the birds." @bind-Value=Simulation.Parameters.NumberOfFoods />
                </FluentGridItem>

                <FluentGridItem xs="12" sm="6">
                    <ParameterCardDouble Title="Minimal Bird Speed" Content="The minimum speed of a bird." @bind-Value=Simulation.Parameters.SpeedMin />
                </FluentGridItem>

                <FluentGridItem xs="12" sm="6">
                    <ParameterCardDouble Title="Maximal Bird Speed" Content="The maximal speed of a bird." @bind-Value=Simulation.Parameters.SpeedMax />
                </FluentGridItem>

                <FluentGridItem xs="12" sm="6">
                    <ParameterCardDouble Title="Bird Speed Acceleration" Content="The acceleration of the speed of a bird." @bind-Value=Simulation.Parameters.SpeedAccel />
                </FluentGridItem>

                <FluentGridItem xs="12" sm="6">
                    <ParameterCardDouble Title="Bird Rotation Acceleration" Content="The acceleration of the rotation of a bird." @bind-Value=Simulation.Parameters.RotationAccel />
                </FluentGridItem>

                <FluentGridItem xs="12" sm="6">
                    <ParameterCardInt Title="Cycles per Generation" Content="The number of calculations of the world until the next evolution step." @bind-Value=Simulation.Parameters.GenerationLength />
                </FluentGridItem>

                <FluentGridItem xs="12" sm="6">
                    <ParameterCardInt Title="Neurons" Content="The number of neurons in a birds brain." @bind-Value=Simulation.Parameters.Neurons />
                </FluentGridItem>

                <FluentGridItem xs="12" sm="6">
                    <ParameterCardInt Title="Cells per Eye" Content="The number of cells in a birds eye. It defines the resolution of how good a bird can see and detect the direction of food." @bind-Value=Simulation.Parameters.EyeCells />
                </FluentGridItem>

                <FluentGridItem xs="12" sm="6">
                    <ParameterCardDouble Title="Field of View Range" Content="The maximum distance a bird can see." @bind-Value=Simulation.Parameters.FovRange />
                </FluentGridItem>

                <FluentGridItem xs="12" sm="6">
                    <ParameterCardDouble Title="Field of View Angle" Content="The angle of the field of view." @bind-Value=Simulation.Parameters.FovAngle />
                </FluentGridItem>

            </FluentGrid>
        </FluentTab>

        <FluentTab Label="Statistics" Id="tab-v3" Style="flex-grow: 1; margin: 0 auto;">
            @if(_chart.Statistics.Count == 0)
            {
                <div class="info-box">
                    <b>Info:</b> Wait until the first generation is complete and ready to evolve to see some data.
                </div>
            }
            <div style="margin: 20px auto">
                <Chart @ref=_chart />
            </div>
        </FluentTab>

    </FluentTabs>
</div>
