@page "/"
@inject IJSRuntime JSRuntime

<PageTitle>Simulation</PageTitle>

<div class="centered-div">
    <h3>Simulation</h3>
</div>

<div id="explanation" class="centered-div">
This page showcases a C# Blazor WASM implementation of an evolutionary simulation where artificial arrow-like birds learn to survive by finding food in a dynamic environment.
Through neural networks and genetic algorithms, these digital entities evolve over time, exhibiting increasingly complex behaviors.
This simulation demonstrates the principles of artificial intelligence and evolution in an interactive format, highlighting the adaptability and learning capabilities of artificial life in a virtual ecosystem.
It is designed after the awesome tutorial series 
</div>
<div class="centered-div" style="margin: auto auto 10px 10px">
    <a href="https://pwy.io/posts/learning-to-fly-pt1/">Learning to Fly: Let's simulate evolution in Rust! </a>.
</div>

<div id="simulationCanvas">
   <canvas id="theCanvas"></canvas>
</div>

<div class="container" style="width: 100%">
    <div class="label">Development of current generation:</div>
    <div class="progress-container">
        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: @_progress%"></div>
        </div>
    </div>
    <div class="label">@_progress%</div>
</div>

<div class="container">
    <FluentTabs Orientation="Orientation.Horizontal" @bind-ActiveTabId="@activeid" OnTabChange="HandleOnTabChange" Style="width: 100%; flex-grow: 1; margin: 0 auto;">
        <FluentTab Label="General" Id="tab-v1" Style="flex-grow: 1; margin: 0 auto;">
            <FluentGrid>
                <FluentGridItem xs="12" sm="6">
                    <FluentCard>
                        <h5 class="card-title">Train Animals</h5>
                        <p class="card-text">Training is used to fast-forward a whole generation.</p>
                        <div class="warning-box">
                            <b>Warning:</b> The training of a whole generation might take some time!
                        </div>
                        <FluentButton @onclick="Train">Train</FluentButton>
                    </FluentCard>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="6">
                    <FluentCard>
                        <h5 class="card-title">Restart</h5>
                        <p class="card-text">Deletes all animals and restarts the simulation.</p>
                        <FluentButton @onclick="Restart">Restart</FluentButton>
                    </FluentCard>
                </FluentGridItem>
            </FluentGrid>
        </FluentTab>
        <FluentTab Label="Parameters" Id="tab-v2" Style="flex-grow: 1; margin: 0 auto;">
            <FluentGrid>
                <FluentGridItem xs="12" sm="6">
                    <FluentCard>
                        <h5 class="card-title">Parameter 1</h5>
                        <p>Some explanation for this parameter.</p>
                        <FluentNumberField @bind-Value="exampleInt1" />
                    </FluentCard>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="6">
                    <FluentCard>
                        <h5 class="card-title">Parameter 1</h5>
                        <p>Some explanation for this parameter.</p>
                        <FluentNumberField @bind-Value="exampleInt1" />
                    </FluentCard>
                </FluentGridItem>
            </FluentGrid>
        </FluentTab>
    </FluentTabs>
</div>

