@page "/"
@inject IJSRuntime JSRuntime

<PageTitle>Simulation</PageTitle>

<div class="centered-div">
    <h3>Simulation</h3>
</div>

<div id="explanation" class="centered-div">
This page showcases a C# Blazor WASM implementation of an evolutionary simulation where artificial arrow-like birds learn to survive by finding food in a dynamic environment.
Through neural networks and genetic algorithms, these digital entities evolve over time, exhibiting increasingly complex behaviors.
This simulation demonstrates the principles of artificial intelligence and evolution in an interactive format, highlighting the adaptability and learning capabilities of artificial life in a virtual ecosystem.
It is designed after the awesome tutorial series 
</div>
<div class="centered-div" style="margin: auto auto 10px 10px">
    <a href="https://pwy.io/posts/learning-to-fly-pt1/">Learning to Fly: Let's simulate evolution in Rust! </a>.
</div>

<div id="simulationCanvas">
   <canvas id="theCanvas"></canvas>
</div>

<div class="container" style="width: 100%">
    <div class="label">Development of current generation:</div>
    <div class="progress-container">
        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: @_progress%"></div>
        </div>
    </div>
    <div class="label">@_progress%</div>
</div>

<div class="container">
    <FluentTabs Orientation="Orientation.Horizontal" @bind-ActiveTabId="@activeid" OnTabChange="HandleOnTabChange" Style="width: 100%; flex-grow: 1; margin: 0 auto;">
        <FluentTab Label="General" Id="tab-v1" Style="flex-grow: 1; margin: 0 auto;">
            <FluentGrid>
                <FluentGridItem xs="12" sm="6">
                    <FluentCard>
                        <h5 class="card-title">Train Animals</h5>
                        <p class="card-text">Training is used to fast-forward a whole generation.</p>
                        <div class="warning-box">
                            <b>Warning:</b> The training of a whole generation might take some time!
                        </div>
                        <FluentButton @onclick="Train">Train</FluentButton>
                    </FluentCard>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="6">
                    <FluentCard>
                        <h5 class="card-title">Restart</h5>
                        <p class="card-text">Deletes all animals and restarts the simulation.</p>
                        <FluentButton @onclick="Restart">Restart</FluentButton>
                    </FluentCard>
                </FluentGridItem>
            </FluentGrid>
        </FluentTab>
        <FluentTab Label="Parameters" Id="tab-v2" Style="flex-grow: 1; margin: 0 auto;">
            <FluentGrid>
                <FluentGridItem xs="12" sm="6">
                    <FluentCard>
                        <h5 class="card-title">Number Of Birds</h5>
                        <p>The number of birds in the world.</p>
                        <FluentNumberField @bind-Value="NumberOfBirds" />
                    </FluentCard>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="6">
                    <FluentCard>
                        <h5 class="card-title">Number Of Foods</h5>
                        <p>The amount of available food for the birds.</p>
                        <FluentNumberField @bind-Value="NumberOfFoods" />
                    </FluentCard>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="6">
                    <FluentCard>
                        <h5 class="card-title">Minimal Bird Speed</h5>
                        <p>The minimum speed of a bird.</p>
                        <FluentNumberField @bind-Value="SpeedMin" />
                    </FluentCard>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="6">
                    <FluentCard>
                        <h5 class="card-title">Maximal Bird Speed</h5>
                        <p>The maximum speed of a bird.</p>
                        <FluentNumberField @bind-Value="SpeedMax" />
                    </FluentCard>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="6">
                    <FluentCard>
                        <h5 class="card-title">Bird Speed Acceleration</h5>
                        <p>The acceleration of the speed of a bird.</p>
                        <FluentNumberField @bind-Value="SpeedAccel" />
                    </FluentCard>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="6">
                    <FluentCard>
                        <h5 class="card-title">Bird Rotation Acceleration</h5>
                        <p>Defines how fast a bird can accelerate its rotation into a direction.</p>
                        <FluentNumberField @bind-Value="RotationAccel" />
                    </FluentCard>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="6">
                    <FluentCard>
                        <h5 class="card-title">Cycles per Generation</h5>
                        <p>The number of calculations of the world until the next evolution step.</p>
                        <FluentNumberField @bind-Value="GenerationLength" />
                    </FluentCard>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="6">
                    <FluentCard>
                        <h5 class="card-title">Neurons</h5>
                        <p>The number of neurons in a birds brain.</p>
                        <FluentNumberField @bind-Value="Neurons" />
                    </FluentCard>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="6">
                    <FluentCard>
                        <h5 class="card-title">Cells per Eye</h5>
                        <p>The number of cells in a birds eye. It defines the resolution of how good a bird can see and detect the direction of food.</p>
                        <FluentNumberField @bind-Value="EyeCells" />
                    </FluentCard>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="6">
                    <FluentCard>
                        <h5 class="card-title">Field of View Range</h5>
                        <p>The maximum distance a bird can see.</p>
                        <FluentNumberField @bind-Value="FovRange" />
                    </FluentCard>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="6">
                    <FluentCard>
                        <h5 class="card-title">Field of View Angle</h5>
                        <p>The angle of the field of view.</p>
                        <FluentNumberField @bind-Value="FovAngle" />
                    </FluentCard>
                </FluentGridItem>
            </FluentGrid>
        </FluentTab>
    </FluentTabs>
</div>

