@page "/simulation"
@inject IJSRuntime JSRuntime

<PageTitle>Counter</PageTitle>

<h3>Simulation</h3>

<div class="stack-vertical">
    <div>Text above canvas</div>
    <div id="simulationCanvas">
       <canvas id="theCanvas"></canvas>
    </div>
    <div>Text below canvas</div>
</div>
