@page "/"
@inject IJSRuntime JSRuntime

<PageTitle>Simulation</PageTitle>

<div class="centered-div">
    <h3>Simulation</h3>
</div>

<div id="explanation" class="centered-div">
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</div>

<div id="simulationCanvas">
   <canvas id="theCanvas"></canvas>
</div>

<div class="container" style="width: 100%">
    <div class="label">Development of current generation:</div>
    <div class="progress-container">
        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: @_progress%"></div>
        </div>
    </div>
        <div class="label">@_progress%</div>
</div>



<div class="row container">
    <div class="col-sm-6 mb-3 mb-sm-0 flex flex-column">
        <div class="card flex-grow-1">
            <div class="card-body">
                <h5 class="card-title">Train Animals</h5>
                <p class="card-text">Training is used to fast-forward a whole generation.</p>
                <div class="warning-box">
                    <b>Warning:</b> The training of a whole generation might take some time and block the browser window!
                </div>
                <button type="button" class="btn btn-primary" @onclick="Train">Train</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6 d-flex flex-column">
        <div class="card flex-grow-1">
            <div class="card-body">
                <h5 class="card-title">Restart</h5>
                <p class="card-text">Deletes all animals and restarts the simulation.</p>
                <button type="button" class="btn btn-primary" @onclick="Train">Restart</button>
            </div>
        </div>
    </div>
</div>
