@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4">
            <NavLink href="about">About</NavLink>
            <a href="https://github.com/visviva" target="_blank">Github</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
