@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            <a href="https://github.com/visviva" target="_blank">Github</a>
        </div>

        <article class="content px-4" style="width: 1400px; margin: 0 auto;">
            @Body
        </article>
    </main>
</div>
