@page "/"
@using Blazor.Extensions
@using Blazor.Extensions.Canvas.Canvas2D
@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>

<h1>Canvas Demo</h1>

<div>
This is a Canvas test site.
</div>

<div>
<canvas id="myCanvas"></canvas>
</div>

<br />

<img @ref="_sprite.SpriteSheet" hidden src="icons/icons8-virus-60.png" />

Text above

<FluentBodyContent>
<div id="theCanvas">
<BECanvas @ref="_canvasReference"></BECanvas>
</div>
</FluentBodyContent>

Text below
