@page "/simulation"
@inject IJSRuntime JSRuntime

<PageTitle>Simulation</PageTitle>

<h3>Simulation</h3>

<div class="stack-vertical">
    <div>Text above canvas</div>
    <div id="simulationCanvas">
        <BECanvas @ref="_canvasReference"></BECanvas>
    </div>
    <div>Text below canvas</div>
</div>

